body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  color: white;
  background-color:#65c0ba;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  text-decoration: none;
}

.section {
  padding: 7em 0;
}

.font {
  font-family: "Abril Fatface", times, serif;
}
.color-grey {
  color: #6c7577;
  font-weight: 200;
}

/* Start Hero */
.hero {
  padding-inline: 30px;
  background-image: url("./imgs/hero_1.jpg.webp");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  /* min-height: 617px; */
  height: 100%;
  z-index: 1;
}

.hero nav,
.hero-details,
.scroll {
  position: relative; /* Add relative positioning to apply z-index */
  z-index: 2; /* Higher z-index for content elements */
}

.hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.hero nav h1,
.hero nav i {
  color: #fff; /*تغيير*/
}

.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero-details .heading {
  font-size: 5rem;
  font-family: "Abril Fatface", times, serif;
  line-height: 1;
  font-weight: bold;
}

.hero-details p {
  font-size: 1.8rem;
  margin-top: -20px;
}
.hero-details p a {
  color: #6c7577;
}

.hero-details button {
  background-color: transparent;
  padding: 20px 30px;
  font-size: 15px;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 40px;
  transition: 0.3s all ease;
}

.hero-details button:hover {
  background-color: #fff;
  color: black;
}

@media (max-width: 768px) {
  .hero-details button {
    width: 100%;
  }
  .hero-details {
    text-align: center;
  }
  .hero-details .heading {
    font-size: 3rem;
  }
  .hero-details p {
    font-size: 1.2rem;
  }
}
.scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* End Hero */

/* Start Welcome Section */
.container-welcome {
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 768px) {
  .container-welcome {
    flex-direction: column;
    /* width: 100%; */
    /* text-align: center; */
  }
  .welcome-left {

    min-width: 100%;
  }
}

.welcome-left {
  /* min-width: 30rem; */
  /* max-width: 100%; */
  height: auto;
  width: 50%;
}
.welcome-right {
  width: 50%;
}

@media (max-width: 768px) {
  .welcome-right {
    width: 100%;
  }
}
.welcome-right h2 {
  font-size: 2.5rem;
  letter-spacing: -1px;
}

.welcome-right p {
  color: #6c757d;
  font-size: 21px;
  line-height: 1.8;
}
.welcome-right .play {
  display: flex;
  gap: 15px;
  color: #65c0ba;
  padding-left: 20px;
  margin-top: 3rem;
}
.welcome-right .play i {
  position: relative;
  transition: 0.3s all ease;
  margin-right: 1rem;
}
.welcome-right .play i::after {
  content: "";
  width: 3rem;
  height: 3rem;
  border: 2px solid #e6e6e6;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.welcome-right .play:hover i,
.welcome-right .play:hover i::after {
  color: black;
  border-color: black;
}

.welcome-right .play span {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
}
/* End Welcome Section */

/* Start Experience Section */
.experience-section {
  background: #fafafa;
  border-top: 1px solid #e0e0e0;
}
.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.experience-container .experience-top {
  max-width: 90%;
}

.experience-top h2 {
  font-size: 2rem;
}
.experience-top p {
  font-size: 1.25rem;
}

.experience-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 768px) {
  .experience-bottom {
    grid-template-columns: repeat(1, 1fr); 
  }
}

.experience-bottom img {
  width: 70px;
}
.experience-bottom .color-grey {
  font-size: 18px;
  line-height: 1.4;
}
.tour-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.tour-container .tour-top {
  max-width: 90%;
}
.tour-top h2 {
  font-size: 4rem;
  line-height: 1;
}
@media (max-width: 768px) {
  .tour-top h2 {
    font-size: 2.5rem;
  }
}
.tour-top p {
  font-size: 1.25rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .tour-top p {
    font-size: 16px;
  }
}
.tour-bottom img {
  overflow-clip-margin: context-box;
  overflow: clip;
  width: 95%;
  /* width: 50%;
    height: 50%; */
}
/* End Experience Section */
/* Start Recent Section */
.recent-section {
  background: #65c0ba;
}

.recent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recent-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .recent-top p {
      font-size: 16px;
  }
}
.recent-top .font {
  font-size: 4rem;
}
.recent-top p {
  margin-top: -30px;
  font-size: 20px;
  max-width: 80%;
  color: #fff;
  line-height: 2;
  font-family: sans-serif;
}
.recent-bottom {
  display: flex;
  gap: 25px;
  /* flex-wrap: wrap; */
}

@media (max-width: 768px) {
  .recent-bottom {
    flex-wrap: wrap;
  }
}

.details {
  padding: 30px;
  font-family: sans-serif;
}
.recent-bottom .recent-card {
  background-color: #fff;
  text-align: start;
}
.recent-bottom img {
  width: 100%;
}

.details p {
  font-size: 18px;
  line-height: 1.8;
}

/* End Recent Section */

/* Start customers section */
.customer-section {
    background-color: #fafafa;
    border-top: 1px solid #e0e0e0;
}

.customer-container h2 {
    text-align: center;
    font-size: 4rem;
}
.customers {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 768px) {
  .customers {
    flex-wrap: wrap;
  }
}

.customer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
}

.customers .customer img {
    width: 4rem;
    border-radius: 50%;
}

.customer p {
    color: #6c757d;
}
/* End customers section */


/* Start destination section */

.destination-top {
    text-align: center;
    /* width: 70%; */
}
.destination-top h2 {
    font-size: 2rem;
}
.destination-top p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.8;
    font-family: sans-serif;
}

.destination-bottom {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}

@media (max-width: 768px) {
  .destination-bottom {
      flex-wrap: wrap;
  }
}

/* End destination section */

.place-card img {
    width: 100%;
    height: 50%;
}
.place-card .rating {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.place-card .rating .stars {
    color: #65c0ba;
}

.place-card .rating .review {
    color: #CCC;
    font-style: italic;
    /* font-size: 20px; */
    font-family: sans-serif;
}

@media (max-width: 768px) {
  .place-card {
    margin-bottom: -92px;
  }
}

/* Start Footer */

.footer-section {
    background-color: black;
    margin-bottom: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.2);;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}
.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h3 {
    color: #fff;
    font-size: 20px;
}
.footer-section a, .footer-section p {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2rem;
    font-size: 20px;
    font-family: sans-serif;
}
.footer-section a {
    transition: 0.3s all ease;
}

.footer-section a:hover {
    color: #fff;
}
.footer-section .white {
    color: #fff;
    font-style: italic;
}
.contact-section {
    margin-top: -20px;
}

form {
    position: relative;

}

form input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 15px;
    color: #fff;
    transition: 0.3 all ease;
}

@media (max-width: 768px) {
  form input {
    width: 88%;
  }
  form::after {
    right: 10%;
  }
}
form::after {
    content: '\f1d8';
    font-family: "FontAwesome";
    font-weight: normal;
   font-style: normal;
   width: 10px;
   height: 10px;
   position: absolute;
   top: 35%;
   right: 10%;
   transform: translateY(-50%);
   color: white;
}

form input:focus {
    border-bottom-color: #fff;
}


/* End Footer */

/* Start copyright section */
.copy-section {
    background-color: black;
    margin-top: -12rem;
}

.copy-container {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 18px;
}

.social i{
    margin-right: 20px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
}








/* End copyright section */